@import "~vtex-css-utils/less/_css-utils";

.ShelfProduct {
  position: relative;

  @media (max-width: @screen-sm-max) {
  }

  &__photo {
    height: 210px;
    width: 210px;
  }

  &__title {
    display: block;
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 300;
    padding-top: 10px;
    padding-left: 0;
    margin: 0;
    width: 210px;
  }

  &__price {
    color: #75CCB1;
    display: block;
    font-size: 18px;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 0;
    width: 210px;
  }

  &__btn {
    .css-utils-clean-btn();
    background-color: #75CCB1;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-family: 'Lato';
    font-size: 15px;
    font-weight: 600;
    margin-top: 7.5px;
    padding: 12px;
    width: 210px;
  }
}
