.v-shelf__product-photo {
  height: 235px;
  border: 1px solid #eee;
}

.v-shelf__product-title {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 300;
  padding-top: 5px;
  padding-left: 0;
  margin: 0;
}

.v-shelf__product-price {
  font-size: 14px;
  font-weight: 600;
  padding-left: 0;
  color: #75CCB1;
}

.v-shelf__product-btn {
  font-family: 'Lato';
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  padding: 12px;
  background-color: #75CCB1;
  border: none;
  border-radius: 5px;
  width: 100%;
}
