@media only screen and (max-width: 22em) {
    .vtex-shelf .slick-slide .vtex-product-summary {
       width: 270px;
   }
}
@media only screen and (min-width: 22em) and (max-width: 25em) {
    .vtex-shelf .slick-slide .vtex-product-summary {
       width: 196px;
   }
}

.vtex-shelf .vtex-slider__arrow-left,
.vtex-shelf .vtex-slider__arrow-right {
    color: black;
}
.vtex-shelf .vtex-slider__arrow-left.slick-disabled:before,
.vtex-shelf .vtex-slider__arrow-right.slick-disabled:before
{
    color: inherit;
}
.vtex-shelf .vtex-slider__arrow-left:before,
.vtex-shelf .vtex-slider__arrow-right:before
{
    font-size: 2rem;
    color: inherit;
}
.vtex-shelf .vtex-slider__arrow-left
{
    z-index: 1;
    left: -0.5rem;
}
.vtex-shelf .vtex-slider__arrow-right
{
    right: -0.5rem;
}
.vtex-shelf .vtex-slider__dots li button
{
    color: black;
}
.vtex-shelf .vtex-slider__dots li button:before
{
    font-size: 1rem;
    color: inherit;
}
.vtex-shelf .vtex-slider__dots li.slick-active button:before
{
    color: inherit;
}
.vtex-shelf .slick-slide {
    display: flex;
    justify-content: center;
}
