.vtex-shelf .vtex-slick-slider__arrow-left,
.vtex-shelf .vtex-slick-slider__arrow-right {
    color: black;
}
.vtex-shelf .vtex-slick-slider__arrow-left.slick-disabled:before,
.vtex-shelf .vtex-slick-slider__arrow-right.slick-disabled:before
{
    color: inherit;
}
.vtex-shelf .vtex-slick-slider__arrow-left:before,
.vtex-shelf .vtex-slick-slider__arrow-right:before
{
    font-size: 2rem;
    color: inherit;
}
.vtex-shelf .vtex-slick-slider__arrow-left
{
    z-index: 1;
}
.vtex-shelf .vtex-slick-slider__arrow-right
{
    right: -1rem;
}
.vtex-shelf .vtex-slick-slider__dots li button
{
    color: black;
}
.vtex-shelf .vtex-slick-slider__dots li button:before
{
    font-size: 1rem;
    color: inherit;
}
.vtex-shelf .vtex-slick-slider__dots li.slick-active button:before
{
    color: inherit;
}
.vtex-shelf .slick-slide {
    display: flex;
    justify-content: center;
}
