.vtex-shelf {
    
    --dots-color: #000000;
    --dots-size: 1rem;
    --dots-size-sm: 4vw;
    --dots-size-m: 1vw;

    --prod-size-ss: 270px;
    --prod-size-s: 196px;
}

.vtex-shelf .vtex-store-components-3-x-arrowLeft.slick-disabled:before,
.vtex-shelf .vtex-store-components-3-x-arrowRight.slick-disabled:before {
    color: inherit;
}

.vtex-shelf .vtex-store-components-3-x-arrowLeft:before,
.vtex-shelf .vtex-store-components-3-x-arrowRight:before {
    color: inherit;
}

.vtex-shelf .vtex-store-components-3-x-arrowLeft {
    z-index: 1;
}

.vtex-shelf .vtex-store-components-3-x-dots li button {
    color: var(--dots-color);
}

.vtex-shelf .vtex-store-components-3-x-dots li button:before {
    font-size: var(--dots-size);
    color: inherit;
}

.vtex-shelf .vtex-store-components-3-x-dots li.slick-active button:before {
    color: inherit;
}

.vtex-shelf .slick-slide {
    display: flex;
    height: inherit;
    justify-content: center;
}

.vtex-shelf .slick-slide > div {
    width: 100%
}

.vtex-shelf .slick-track {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
}

@media only screen and (max-width: 22em) {
    .vtex-shelf .slick-slide .vtex-product-summary {
       width: var(--prod-size-ss);
   }
}

@media only screen and (min-width: 22em) and (max-width: 25em) {
    .vtex-shelf .slick-slide .vtex-product-summary {
       width: var(--prod-size-s);
   }
}

@media only screen and (max-width: 30em) {
    .vtex-product-image .vtex-store-components-3-x-dots li button:before, .vtex-shelf .vtex-store-components-3-x-dots li button:before {
        font-size: var(--dots-size-sm) !important;
    }

    .vtex-related-products .slick-track {
        width: 18.9rem !important
    }
}

@media only screen and (min-width: 30em) {
    .vtex-shelf .vtex-store-components-3-x-dots li button:before {
        font-size: var(--dots-size-m) !important;
    }
}