.container {
    --dots-color: #000000;
    --dots-size: 1rem;
    --dots-size-sm: 4vw;
    --dots-size-m: 1vw;

    --prod-size-ss: 270px;
    --prod-size-s: 196px;
}

.title { }

.relatedProducts { }

.slide { } 

