.container {
}

.slider-container {
}

.title {
}

.relatedProducts {
}

.slide {
}

.arrow {
  top: 50%;
  transform: translate(0, -50%);
}

.arrowLeft {
}

.arrowRight {
}

.dot {
  height: 10px;
  width: 10px;
}

.slideContainer {
  @media only screen and (max-width: 599px) {
    max-width: 600px;
  }
  @media only screen and (min-width: 600px and max-width: 899px) {
    max-width: 900px;
  }
  @media only screen and (min-width: 900px and max-width: 1299px) {
    max-width: 1300px;
  }
  @media only screen and (min-width: 1300px) {
    max-width: 1300px;
  }
}
