@import url('~slick-carousel/slick/slick.css');
@import url('~slick-carousel/slick/slick-theme.css');

.vtex-shelf .slick-prev.slick-disabled:before,
.vtex-shelf .slick-next.slick-disabled:before
{
    color: inherit;
}

.vtex-shelf .slick-prev:before,
.vtex-shelf .slick-next:before
{
    font-size: 2rem;
    color: inherit;
}
.vtex-shelf .slick-prev
{
    z-index: 999;
}
.vtex-shelf .slick-next
{
    right: -1rem;
}
.vtex-shelf .slick-dots li button
{
    color: inherit;
}

.vtex-shelf .slick-dots li button:before
{
    font-size: 1rem;
    color: inherit;
}
.vtex-shelf .slick-dots li.slick-active button:before
{
    color: inherit;
}
